<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/Library"></property>
		<property name="username" value="root"></property>
		<property name="password" value="1234"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>  
	            <!-- 显示Hibernate持久化操作所生成的SQL -->  
	            <prop key="hibernate.show_sql">true</prop>  
	            <!-- 将SQL脚本进行格式化后再输出 -->  
	            <prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entity/User.hbm.xml</value>
				<value>com/entity/Book.hbm.xml</value>
				<value>com/entity/Borrow.hbm.xml</value></list>
		</property></bean>

		<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<bean id="bookDAO" class="com.dao.BookDAO">
		<constructor-arg>
		<ref bean="hibernateTemplate" />
	</constructor-arg>
	</bean>
	<bean id="UserDAO" class="com.dao.UserDAO">
		<constructor-arg>
		<ref bean="hibernateTemplate" />
	</constructor-arg></bean>
	<bean id="borrowDAO" class="com.dao.BorrowDAO">
		<constructor-arg>
		<ref bean="hibernateTemplate" />
	</constructor-arg></bean>
	<bean id="bookService" class="com.service.BookService">
		<constructor-arg>
		<ref bean="bookDAO"/>
		</constructor-arg>
	</bean>
	<bean id="UserService" class="com.service.UserService">
		<constructor-arg>
		<ref bean="UserDAO" />
	</constructor-arg></bean>
	<bean id="borrowService" class="com.service.BorrowService">
	<constructor-arg>
		<ref bean="UserDAO" />
	</constructor-arg>
	<constructor-arg>
		<ref bean="bookDAO"/>
		</constructor-arg>
		<constructor-arg>
		<ref bean="borrowDAO" />
	</constructor-arg></bean>
	<bean id="serviceManager" class="com.service.ServiceManager">
		<property name="bookServiceInter">
			<ref bean="bookService"/>
		</property>
	</bean>
</beans>